<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configuration>
    <appSettings>
      <add key="INTEGRATOR_ID" value="76f143ad-0b98-4bf3-9033-fa66880013b8"/>
    </appSettings>
  </configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="PuertoTimbradoSeguro">
                    <security mode="Transport"/>
                </binding>
                <binding name="PuertoTimbrado"/>
                <binding name="PuertoSeguridadSeguro">
                    <security mode="Transport"/>
                </binding>
                <binding name="PuertoSeguridad"/>
                <binding name="PuertoClientesSeguro">
                    <security mode="Transport"/>
                </binding>
                <binding name="PuertoClientes"/>
            </basicHttpBinding>
        </bindings>
        <client>
     <!--Listo--><endpoint address="https://pruebas.ecodex.com.mx:2045/ServicioTimbrado.svc" binding="basicHttpBinding" bindingConfiguration="PuertoTimbradoSeguro" contract="srvTimbrado.Timbrado" name="PuertoTimbradoSeguro"/>
     <endpoint address="http://pruebas.ecodex.com.mx:2044/ServicioTimbrado.svc" binding="basicHttpBinding" bindingConfiguration="PuertoTimbrado" contract="srvTimbrado.Timbrado" name="PuertoTimbrado"/>
     <!--Listo--><endpoint address="https://pruebas.ecodex.com.mx:2045/ServicioSeguridad.svc" binding="basicHttpBinding" bindingConfiguration="PuertoSeguridadSeguro" contract="srvSeguridad.Seguridad" name="PuertoSeguridadSeguro"/>
     <endpoint address="http://pruebas.ecodex.com.mx:2044/ServicioSeguridad.svc" binding="basicHttpBinding" bindingConfiguration="PuertoSeguridad" contract="srvSeguridad.Seguridad" name="PuertoSeguridad"/>
     <!--Listo--><endpoint address="https://pruebas.ecodex.com.mx:2045/ServicioClientes.svc" binding="basicHttpBinding" bindingConfiguration="PuertoClientesSeguro" contract="srvClientes.Clientes" name="PuertoClientesSeguro"/>
    <endpoint address="http://pruebas.ecodex.com.mx:2044/ServicioClientes.svc" binding="basicHttpBinding" bindingConfiguration="PuertoClientes" contract="srvClientes.Clientes" name="PuertoClientes"/>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
