<?xml version="1.0" encoding="utf-8" ?>
<configuration> 
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="PuertoTimbradoSeguro">
          <security mode="Transport" />
        </binding>
        <binding name="PuertoSeguridadSeguro">
          <security mode="Transport" />
        </binding>
        <binding name="PuertoClientesSeguro">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://pruebas.ecodex.com.mx:2045/ServicioTimbrado.svc" binding="basicHttpBinding" bindingConfiguration="PuertoTimbradoSeguro" contract="srvTimbrado.Timbrado" name="PuertoTimbradoSeguro" />
      <endpoint address="https://pruebas.ecodex.com.mx:2045/ServicioSeguridad.svc" binding="basicHttpBinding" bindingConfiguration="PuertoSeguridadSeguro" contract="srvSeguridad.Seguridad" name="PuertoSeguridadSeguro" />
      <endpoint address="https://pruebas.ecodex.com.mx:2045/ServicioClientes.svc" binding="basicHttpBinding" bindingConfiguration="PuertoClientesSeguro" contract="srvClientes.Clientes" name="PuertoClientesSeguro" />
    </client>
  </system.serviceModel>
</configuration>