<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="APIEcodexUrl" value="https://pruebasapi.ecodex.com.mx" />
    <add key="INTEGRATOR_ID" value="2b3a8764-d586-4543-9b7e-82834443f219" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="PuertoTimbradoSeguro">
          <security mode="Transport" />
        </binding>
        <binding name="PuertoSeguridadSeguro">
          <security mode="Transport" />
        </binding>
        <binding name="PuertoClientesSeguro">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://pruebas.ecodex.com.mx:2045/ServicioTimbrado.svc" binding="basicHttpBinding" bindingConfiguration="PuertoTimbradoSeguro" contract="srvTimbrado.Timbrado" name="PuertoTimbradoSeguro" />
      <endpoint address="https://pruebas.ecodex.com.mx:2045/ServicioSeguridad.svc" binding="basicHttpBinding" bindingConfiguration="PuertoSeguridadSeguro" contract="srvSeguridad.Seguridad" name="PuertoSeguridadSeguro" />
      <endpoint address="https://pruebas.ecodex.com.mx:2045/ServicioClientes.svc" binding="basicHttpBinding" bindingConfiguration="PuertoClientesSeguro" contract="srvClientes.Clientes" name="PuertoClientesSeguro" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Cryptography.X509Certificates" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Win32.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>